name: Purge jsDelivr cache

on:
  schedule:
    - cron: "0 */5 * * *"
  workflow_dispatch:

jobs:
  purge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Purge jsDelivr cache
        run: |
          curl -I "https://purge.jsdelivr.net/gh/rina-veld/pinterest-random-feed@main/random_item.json"
