name: Purge jsDelivr cache

on:
  schedule:
    - cron: "0 */5 * * *"   # запуск каждые 5 часов
  workflow_dispatch:

jobs:
  purge:
    runs-on: ubuntu-latest

    steps:
      - name: Curl purge request
        run: |
          curl -X GET "https://purge.jsdelivr.net/gh/rina-veld/pinterest-random-feed@main/random_item.json"
