name: Purge jsDelivr cache

on:
  schedule:
    - cron: "0 */5 * * *"   # каждые 5 часов
  workflow_dispatch:       # запуск вручную

jobs:
  purge:
    runs-on: ubuntu-latest

    steps:
      - name: Purge random_item.json
        run: |
          curl -X PURGE "https://cdn.jsdelivr.net/gh/rina-veld/pinterest-random-feed@main/random_item.json"
